/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color:skyblue;
 
}

wrapper{
	clear: both;
	margin: 0 auto;
	width: 70%;
	background-color: white;
}

h1 {
  font-style: italic;
  color: #373fff;
  text-align: center;
}




header{
  background-color: pink;
  text-align: center;
  margin: 0 30px 50px 0;
  
}
header:a{
  clear: right;
	text-decoration: none;
	color: Blue;
	margin: 0 10px;
	line-height: 90px;
   
}


.menu{
  clear: right;
	text-decoration: none;
	color: blue;
	margin: 0 10px;
	line-height: 70px;
  
}

.menu a{
	clear: right;
	text-decoration: none;
	color: blue;
	margin: 0 40px;
	line-height: 70px;
  animation-name: example;
  animation-duration: 4s;
  
}

@keyframes example{
  from {color:blue;}
  to {color: yellow;}
}

label{
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 26px;
	float: right;
}

#toggle{
	display: none;
}

.nav{
border-bottom: 1px solid;
	text-align: center;
	height: 70px;
	line-height: 70px;
}
a {
	color: blue;
	text-decoration: underline;
}

a:hover{
  color:red;
	text-decoration: underline;
  background-color:blue;
  border-radius:5px;
}

a:visted{
	color: mediumpurple;
	text-decoration: underline;
}

nav a{
	margin: 20px;
	padding: 10px 15px;
	font-variant: small-caps;
	font-size: 100%;
	font-family: Arial;
}

nav a:hover{
	background-color: red;
	color: white;
	text-decoration: none;
	border-radius: 10px;
}


.image_sample{
  width: 40%;
	float: right;
	
	padding: center;
	margin: 10px;
	
}
.image_sample2{
  width: 100%;
	float: left;
	margin-right: 10px;
  margin-left: 100px;
	padding-left:500px;
	
}
.twocolumn{
  width: 33.3%;
}

.onecolumn{
  width: 100%;
}
