/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
  
}
table, th, td{
  border-color: red;
  
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  
  padding: 50px;
  height: 200px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.redbox {
  background-color: red;
  overflow:auto;
}

.yellbox {
  background-color: yellow;
}
.bluebox {
  background-color: blue;
}
.greenbox {
  background-color: green;
}
.blackbox {
  background-color: black;
  color: #ffffff;
}
.pinkbox {
  background-color: pink;
  
}

.threecolumn{
  width: 33.33%;
}
.twocolumn{
  width: 50%;
}
.onecolumn{
  width: 100%;
}

a{
  border:3px dotted red;
  padding:10px;
  text-decoration: none;
}

a:link {
  color: pink;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

body {
 background-image: url("https://cdn.glitch.com/bc5033df-bfe4-4267-9aae-da1d08368759%2FIMG_6928.JPG?v=1605150507084");
 background-color: #cccccc;
  background-size: 100px 100px;
  background-repeat: repeat;
  font-family: goldman;
}
.attribution{
  width:33px;
  height:33px;
  background-color: white;      
}

